@CHARSET "UTF-8";

.ui-growl {
	top: 55px;
}

.bf-error {
	border-color: #dca7a7;
}

.input-group .form-control{
	
background-color: rgb(255, 255, 255) !important;
background-image: none !important;
}

.ui-datatable .ui-row-editing .ui-row-editor {
	background-color: rgb(0, 129, 194) !important;
}
